@{ 
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Nettbutikken.Model.Kunde>

<ul class="nav nav-pills">
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Varer <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation">@Html.ActionLink("Liste", "Index", "ButikkSjef")</li>
            <li role="presentation">@Html.ActionLink("Legg til ny vare", "Opprett", "ButikkSjef")</li>
            <li role="presentation">@Html.ActionLink("Legg til ny Kategori", "leggTilKat", "ButikkSjef")</li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Kundebehandling <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation" class="active">@Html.ActionLink("Kundeliste", "Liste", new { area = "" }, new { @class = "" })</li>
            <li role="presentation">@Html.ActionLink("Registrer kunde", "Registrer", new { area = "" }, new { @class = "" })</li>
            <li role="presentation">@Html.ActionLink("Se ordrer", "Liste", "OrdreBehandling", new { area = "" }, new { @class = "" })</li>
        </ul>
    </li>
   
</ul>
<div id="loggut">
    @Html.ActionLink("Logg ut", "Loggut", "Konto", null, new { @class = "btn btn-danger" })
</div>
<h2>Liste</h2>
    <table class="table table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
                <!-- NB: dette er endret fra generert kode da den forventer en IEnumerable som modell -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brukernavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
           
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brukernavn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Detalj", "Detaljer", new { id = item.id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Endre", "Endre", new { id = item.id }, new { @class = "btn btn-warning" })
                    
                    @Html.ActionLink("Slette", "Slett", new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink("Registrer ny kunde", "Registrer", new { tom = "" }, new { @class = "btn btn-success" })

